global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']
  
  - job_name: 'web-servers'
    static_configs:
      - targets: 
        {% for host in groups['webservers'] %}
        - '{{ hostvars[host]['ansible_host'] | default(host) }}:{{ node_exporter_port }}'
        {% endfor %}